/* FONTS */

/* Exo 2 */
@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo2-Thin.woff2') format('woff2'),
  url('./FONT/Exo2-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo2-ExtraLight.woff2') format('woff2'),
  url('./FONT/Exo2-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo2-Light.woff2') format('woff2'),
  url('./FONT/Exo2-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo2-Regular.woff2') format('woff2'),
  url('./FONT/Exo2-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo2-Medium.woff2') format('woff2'),
  url('./FONT/Exo2-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo2-SemiBold.woff2') format('woff2'),
  url('./FONT/Exo2-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo2-Bold.woff2') format('woff2'),
  url('./FONT/Exo2-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo-ExtraBold.woff2') format('woff2'),
  url('./FONT/Exo2-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('./FONT/Exo2-Black.woff2') format('woff2'),
  url('./FONT/Exo2-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* SquareBanner Caps */
@font-face {
  font-family: 'BPG Square Banner Caps 2013';
  src: url('./FONT/bpg-square-banner-caps-2013-webfont.woff2') format('woff2'),
  url('./FONT/bpg-square-banner-caps-2013-webfont.woff') format('woff'),
  url('./FONT/bpg-square-banner-caps-2013-webfont.ttf');
  font-weight: normal;
}

/* SquareBanner */
@font-face {
  font-family: 'BPG Square Banner 2013';
  src: url('./FONT/bpg-square-banner-2013-webfont.woff2') format('woff2'),
  url('./FONT/bpg-square-banner-2013-webfont.woff') format('woff'),
  url('./FONT/bpg-square-banner-2013-webfont.ttf');
  font-weight: normal;
}

:root {
  /* color */
  --black: rgba(0, 0, 0, 1);
  --cream: rgba(255, 241, 227, 1);
  --red: rgba(224, 77, 77, 1);
  --grey: rgba(80, 78, 78, 1);

  /* font */
  --font-en: 'Exo 2', sans-serif;
  --font-ka-body: 'BPG Square Banner 2013', sans-serif;
  --font-ka-cap: 'BPG Square Banner Cap 2013', sans-serif;

  /* spacing */
  --space-xs: 0.5em;
  --space-s: 1em;
  --space-m: 2em;
  --space-l: 3em;
  --space-xl: 5em;
  --space-2xl: 8em;

  /* radius */
  --radius-s: 0.8em;
  --radius-m: 1.6em;
  --radius-l: 2.6em;

  /* motion */
  --dur-fast: 0.2s;
  --dur-med: 0.45s;
  --dur-slow: 0.9s;
  --ease-out: cubic-bezier(0.2, 0.8, 0.2, 1);
  --ease-io: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-soft: cubic-bezier(0.25, 0.1, 0.25, 1);

  /* type */
  --lh-tight: 0.9em;
  --lh-compact: 1.1em;
  --lh-body: 1.4em;
  --tracking-tight: -0.02em;
  --tracking-wide: 0.06em;

  /* breakpoints (reference tokens) */

  /* screen */
  --screenL: 1920px;
  --screenM: 1680px;
  --screenS: 1440px;
  /* tablet */
  --tabletL: 1366px;
  --tabletM: 1180px;
  --tabletS: 1024px;
  --tabletXS: 860px;
  --tabletXSS: 768px;
  /* mobile */
  --mobileL: 560px;
  --mobileM: 480px;
  --mobileS: 375px;
  --mobileXS: 350px;
  --mobileXSS: 320px;

  /* height breakpoints  */
  --heightXXL: 1400px;
  --heightXL: 1200px;
  --heightL: 900px;
  --heightM: 768px;
  --heightS: 650px;
  --heightXS: 500px;

}

.themeDocument{
  background: var(--black);
  color: var(--cream);
}

