.banner {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.banner .bannerTitle {
  position: absolute;
  top: 15em;
  left: 10em;
  z-index: 3;
}