.banner {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  pointer-events: none;
}

.banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(224, 77, 77, .1);
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
}

.banner img {
  width: 60em;
  height: 60em;
  object-fit: cover;
  position: absolute;
  bottom: -10em;
  right: -10em;
}

.banner .bannerTitle {
  position: absolute;
  top: 13em;
  left: 10em;
  z-index: 3;
}