footer {
  width: 100%;
  z-index: 10;
  position: relative;
  padding-left: 7em;
  min-height: fit-content;
  padding-bottom: 30em;
  --footerGlow: 0;
}

footer h2 {
  font-size: 6em;
  font-weight: 900;
  color: rgba(255, 241, 227, 0.5);
  text-align: center;
  max-width: 3em;
  line-height: .8em;
  margin: 0 4em 2em auto;
  text-transform: capitalize;
  transition: text-shadow 0.25s ease;
  transform: translateX(var(--swim-x, 0em)) translateY(var(--swim-y, 0em)) rotate(var(--swim-r, 0deg));
  will-change: transform;
}
body[data-lang="ka"] footer h2 {
  font-family: var(--font-en);
}
footer form {
  margin-bottom: 5em;
}

.contact {
  margin-left: 1em;
}
.contact h5 {
  color: rgba(255, 241, 227, .5);
  margin-bottom: .5em;
  font-weight: 300;
  font-size: 1.1em;
}

.contact p {
  font-size: 1.2em;
  color: rgba(255, 241, 227, .85);
  margin-bottom: 2em;

}

footer .contact nav {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
footer .contact nav a img {
  height: 2em;
}

.address {
  position: relative;
  max-width: fit-content;
  padding: 10em;
  margin-left: auto;
  margin-right: 7em;

}

.address hgroup h5 {
  color: rgba(255, 241, 227, .5);
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 1.1em;
}
.address hgroup p {
  font-size: 1.2em;
  color: rgba(255, 241, 227, .85);
  max-width: 17em;
}

.address hgroup p span {
  display: block;
  margin-top: .2em;
}

.address img {
  min-width: 25em;
  height: 15em;
  border-radius: 2em;
  position: absolute;
  box-sizing: content-box;
  border: 1px solid rgba(255, 241, 227, .1);
  padding: 1em;
  will-change: transform, filter;
}

.address img:nth-of-type(1) {
  top: -10em;
  left: -10em;
}

.address img:nth-of-type(2) {
  margin-top: 3em;
  margin-left: -5em;
}

footer > p {
  max-width: 28em;
  position: absolute;
  bottom: 12em;
  font-weight: 300;
  color: rgba(255, 241, 227, .75);
}

footer > p .wave-char {
  display: inline-block;
  opacity: 0.25;
  transition: opacity .25s ease;
}

footer > p .wave-word {
  display: inline-block;
  white-space: nowrap;
}

footer.is-wave-active > p .wave-char {
  animation: footerTextWave 2.4s linear infinite;
  animation-delay: calc(var(--char-index) * 0.035s);
}

@keyframes footerTextWave {
  0% { opacity: 0.22; }
  35% { opacity: 1; }
  100% { opacity: 0.22; }
}

@media (max-width: 1366px) {
  footer h2 {
    font-size: 5em;
    margin: 0 2em 2em auto;
  }

.address {
  margin-right: 0em;
  }
}

@media (max-width: 1280px) {

  footer {
    padding-left: 5.5em;
  }
  .address {
  margin-right: -3em;
  margin-top: -15em;
  }

  .address img {
     min-width: 20em;
  }
  .address img:nth-of-type(1) {
    top: -10em;
    left: 0em;
  }
}

@media (max-width: 1135px) {
  .address {
    margin-right: 0;
    margin-top: 0;
    padding-right: 3em;
    margin-bottom: 5em;
  }
}
@media (max-width: 860px) {
   footer h2 {
    font-size: 3.5em;
  }
  .address {
    padding-top: 6em;
    margin-right: 3em;
     padding-bottom : 0;

  }
  .address hgroup {
    padding-bottom: 4em;
  }
  .address img {
    margin: 0;
    top: initial;
    position: initial;
  }
}

@media (max-width: 768px) {
   footer {
    padding-left: 3.5em;
  }
}


@media (max-width: 620px) {
   footer {
    padding-left: 3.5em;
     padding-right: 3.5em;
   }
   footer h2 {
    margin: 0 .5em 3.5em auto;
   }
  form {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }
  form textarea {
    min-width: 100%;
  }

  .address {
    padding-left: 0;
    padding-right: 0;
    min-width: 100%;
    max-width: 100%;
  }
  .address hgroup {
    padding-left: 1em;
  }

  .address img {
    margin: 0;
    right: 0;
   }

  .address img:nth-of-type(2) {
    margin-left: auto;
  }
  footer > p {
    min-width: fit-content;
    max-width: 10em;
    /* padding-left: 2em; */
    padding-right: 2em;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  footer {
    padding-left: 2em;
    padding-right: 2em;
  }

  form input.name {
    min-width: 100%;
    max-width: 100%;
  }

  form input.mail {
    min-width: 100%;
    max-width: 100%;
  }

  .address img {
    min-width: 80%;
    max-width: 80%;
    height: 13em;
  }
}
@media (max-width: 375px) {
  .address img {
    height: 10em;
  }

}

