footer {
  width: 100%;
  height: 3000px;
  z-index: 10;
  position: relative;
}

footer h2 {
  font-size: 5em;
  z-index: -1;
  font-weight: 900;
  color: rgba(255, 241, 227, 0.5);
  text-align: center;
  max-width: 3em;
  line-height: 1em;
  right: 2em;
  position: absolute;

}