.lang-content {
 /* transition: opacity 0.25s ease, letter-spacing 0.25s ease, line-height 0.25s ease; */
 transition:
    opacity 0.25s ease,       /* fade */
    letter-spacing 0.25s ease,
    line-height 0.25s ease;
  opacity: 1;
  min-height: 100vh;
  /* max-height: 100vh; */
  background: url('../IMAGE/stars.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.lang-content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  right: 0;
  pointer-events: none;
}

.lang-content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
  pointer-events: none;
  top: 0;
  right: 0;
}



.lang-content .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(224, 77, 77, .1);
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
}
.lang-content .overlay_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(224, 77, 77, .1);
  z-index: 3;
  pointer-events: none;
  top: 0;
  left: 0;

}

.lang-content .overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  right: 0;
  pointer-events: none;
}