.service {
  width: 100%;
  height: 1000px;
  /* background: url('../IMAGE/stars.jpg') no-repeat center; */
  /* background-size: cover;
  background-attachment: fixed; */
}

/* .service::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.service::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 3;
  pointer-events: none;
} */