.services {
  width: 80%;
  max-width: 92em;
  padding: 8em 0 22em 0;
  position: relative;
   margin: 0 auto;
}




/* services title */
.services h2 {
  font-weight: 900;
  line-height: var(--lh-tight);
  letter-spacing: var(--tracking-tight);
  padding: 2.2em 0 2em 0;
  /* color: transparent;
  -webkit-text-stroke: 2px var(--cream); */
  opacity: 0;
  transform: translateY(0.8em);
  filter: blur(6px);
  transition:
    opacity var(--dur-med) var(--ease-io),
    transform var(--dur-med) var(--ease-io),
    filter var(--dur-med) var(--ease-io);
}

.services h2.is-visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

body[data-lang="en"] .services h2 {
  font-size: 9em;
  max-width: 5em;
}
body[data-lang="ka"] .services h2 {
  font-size: 7em;
   max-width: 7em;
   line-height: 1em;
}



/* services content */

.content {
  width: 100%;
  height: calc(100vh - 10em);
  position: sticky;
  top: 7em;
  z-index: 10;
  border-radius: var(--radius-l);
  overflow: hidden;
  border: 1px solid rgba(255, 241, 227, .15);
  /* box-shadow: rgba(255, 241, 227, 0.16) 0px 1px 4px; */
  /* box-shadow:
   0 10px 30px rgba(0, 0, 0, 0.15),
   inset 0 0 0 0.08em rgba(255, 255, 255, 0.1); */
}
.content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  right: 0;
  pointer-events: none;
}

.content.is-static {
  position: relative;
}

.content .images {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;

}

.content .images::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content .images .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}

/* .content .images .image.active {
  opacity: 1;
} */

.content .images .image-social {
  background-image: url('../IMAGE/media.png');
}

.content .images .image-analytics {
  background-image: url('../IMAGE/analytics.png');
}

.content .images .image-web {
  background-image: url('../IMAGE/web.png');
}

.content .images .image-video {
  background-image: url('../IMAGE/video.png');
}

.content .service {
  position: absolute;
  z-index: 3;
  bottom: 1em;
  left: 1em;
  transition:
  width var(--dur-slow) var(--ease-io),
  height var(--dur-slow) var(--ease-io),
  transform var(--dur-slow) var(--ease-soft),
  box-shadow var(--dur-slow) var(--ease-soft);
  will-change: transform;
}

.content .service:hover {
  transform:
  perspective(1000px)
  translateY(-8px)
  rotateX(6deg)
  rotateY(-6deg);
}

.content .service::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(120% 120% at 20% 0%, rgba(255, 255, 255, 0.5), transparent 45%);
  opacity: 0;
  transition: opacity var(--dur-med) var(--ease-io);
  pointer-events: none;
}

.content .service:hover::before {
  opacity: 0.6;
}

.content .service button img {
  transition:
  opacity var(--dur-med) var(--ease-io),
  transform var(--dur-med) var(--ease-io);
}

.content .service hgroup h3,
.content .service hgroup p {
  transition:
  opacity var(--dur-med) var(--ease-io),
  transform var(--dur-med) var(--ease-io);
}

.content .service hgroup .swap-out {
  opacity: 0;
  transform: translateY(0.4em);
}

.content .service hgroup .swap-in {
  opacity: 1;
  transform: translateY(0);
}



/* service contents */

.content .service .service-content {
  opacity: 0;
  transform: translateY(0.6em);
  transition:
  opacity var(--dur-med) var(--ease-io),
  transform var(--dur-med) var(--ease-io);
  pointer-events: none;
  min-width: calc(100% - 8em);
  max-width: calc(100% - 8em);

}
.content .service .service-content li {
  background-color: transparent;
  padding: 1em 1.3em;
  border-radius: 3em;
}

.content .service.updating .service-content {
  opacity: 0;
  transform: translateY(0.6em);
}


.content .service hgroup h3 {
  transform: scale(1);
  transform-origin: top left;
}

.content .service hgroup p {
  opacity: 1;
  transform: translateY(0);
}

.content .service .icon-arrow {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.content .service .icon-close {
  opacity: 0;
  transform: rotate(180deg) scale(0.85);
}

.content .service:not(.active):hover .icon-arrow {
  transform: rotate(0deg) scale(1.05) translateX(0.25em);
}

.content .service.active:hover .icon-close {
  transform: rotate(180deg) scale(1.05) translateX(0.25em);
}

.content .service.active {
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  /* transform: translate(0, 0); */
  box-sizing: border-box;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2);
}

.content .service.active hgroup h3 {
  transform: scale(0.7);
  transform-origin: top left;
}

.content .service.active hgroup p {
  opacity: 0;
  transform: translateY(0.5em);
}

.content .service.active .service-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition-delay: 0.6s;
}

.content .service.active:hover {
  transform:
  perspective(1000px)
  translateY(2px)
  rotateX(-2deg)
  rotateY(2deg);
}

.content .service.active .icon-arrow {
  opacity: 0;
  transform: rotate(-180deg) scale(0.85);
}

.content .service.active .icon-close {
  opacity: 1;
  transform: rotate(180deg) scale(1);
  width: 1.85em;
}


/* services navigation dots */

.services .navigationDots {
  position: fixed;
  top: 50%;
  right: auto;
  left: 0;
  transform: translateY(-50%);
  z-index: 30;
  opacity: 0;
  pointer-events: none;
  transition: opacity .02s ease-in-out;
}

.services .navigationDots.is-visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 2s ease-in-out;
}

@media (max-width: 1920px) {
  .services {
    width: 78%;
  }

  .content {
    width: 100%;
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 15em);
  }
}

@media (max-width: 1680px) {
  .services {
    width: 80%;
  }

  .content {
    max-width: 74em;
    height: calc(100vh - 15em);
  }
}

@media (max-width: 1440px) {
  .services {
    width: 82%;
  }

  .content {
    max-width: 68em;
    height: calc(100vh - 15em);
  }
}

@media (max-width: 1366px) {
  .services {
    width: 84%;
  }

  .services h2 {
    transform: none;
  }

  body[data-lang="en"] .services h2 {
    font-size: 7.2em;
  }

  body[data-lang="ka"] .services h2 {
    font-size: 5.8em;
  }

  .content {
    max-width: 64em;
    height: calc(100vh - 15em);
  }
}

@media (max-width: 1200px) {
  .services {
    width: 88%;
    padding: 6em 0 14em 0;
  }

  body[data-lang="en"] .services h2 {
    font-size: 6.8em;
  }

  body[data-lang="ka"] .services h2 {
    font-size: 5.4em;
  }

  .content {
    top: 5.5em;
    height: calc(100vh - 15em);
  }

}

@media (max-width: 768px) {
  .services {
    width: 92%;
    padding: 4.5em 0 10em 0;
  }

  .services h2 {
    padding: 1.4em 0 1.1em 0;
  }

  body[data-lang="en"] .services h2 {
    font-size: 3.8em;
    max-width: 5.5em;
  }

  body[data-lang="ka"] .services h2 {
    font-size: 3.2em;
    max-width: 7em;
  }

  .content {
    top: 4.2em;
    height: 33em;
    border-radius: 1.3em;
  }

  .content .service {
    left: 0.7em;
    bottom: 0.7em;
  }

  .content .service.active {
    width: calc(100% - 1.4em);
    height: calc(100% - 1.4em);
  }

  .content .images .image {
    background-attachment: scroll;
  }

  .services .navigationDots {
    gap: 0.7em;
  }
}
