.steps {
  position: relative;
  min-height: 100em;
  padding: 9em 0 8em 0;

}

.steps h2 {
  position: absolute;
  right: 3em;
  top: 1em;
  font-size: 5em;
  z-index: 2;
  font-weight: 900;
  max-width: 4.6em;
  text-align: right;
  text-transform: lowercase;
  line-height: var(--lh-tight);
  letter-spacing: var(--tracking-tight);
  color: black;
  transform: translateX(var(--swim-x, 0em)) translateY(calc(var(--steps-title-y, 0em) + var(--swim-y, 0em))) rotate(var(--swim-r, 0deg));
  will-change: transform;
  color: var(--cream);

}

.steps .circle {
  transform: translate(-240px, -35%) rotate(var(--steps-rot, 0deg));
  transform-origin: 50% 50%;
  will-change: transform;
  z-index: 2;
}

@media (max-width: 1024px) {
  .steps h2 {
    font-size: 4.6em;
  }
}

@media (max-width: 850px) {
  .steps h2 {
    font-size: 4.2em;
  }
}

@media (max-width: 768px) {
  .steps h2 {
    font-size: 3.8em;
  }
}

@media (max-width: 560px) {
  .steps {
    height: 70em;
    min-height: 70em;
  }

  .steps h2 {
    right: 0.5em;
    font-size: 3.35em;
  }
}

@media (max-width: 480px) {
  .steps h2 {
    font-size: 3.1em;
  }
}

@media (max-width: 390px) {
  .steps h2 {
    font-size: 2.85em;
  }
}

@media (max-width: 320px) {
  .steps h2 {
    font-size: 2.55em;
  }
}
