.steps {
  position: relative;
  min-height: 100em;
  padding: 9em 0 8em 0;

}

.steps h2 {
  position: absolute;
  right: 3em;
  top: 1em;
  font-size: 5em;
  z-index: 2;
  font-weight: 900;
  max-width: 4.6em;
  text-align: right;
  line-height: var(--lh-tight);
  letter-spacing: var(--tracking-tight);
  color: black;
  transform: translateX(var(--swim-x, 0em)) translateY(calc(var(--steps-title-y, 0em) + var(--swim-y, 0em))) rotate(var(--swim-r, 0deg));
  will-change: transform;
  color: var(--cream);
}

.steps .circle {
  transform: translate(-240px, -35%) rotate(var(--steps-rot, 0deg));
  transform-origin: 50% 50%;
  will-change: transform;
  z-index: 2;
}

@media (max-width: 1366px) {
  .steps h2 {
    right: 2em;
  }
}


@media (max-width: 1024px) {
  .steps h2 {
    right: 1em;
  }
  .steps .circle {
    transform: translate(-300px, -35%) rotate(var(--steps-rot, 0deg));
  }
}


@media (max-width: 860px) {
  .steps h2 {
    right: 1em;
  }
  .steps .circle {
    transform: translate(-350px, -35%) rotate(var(--steps-rot, 0deg));
  }
}


@media (max-width: 768px) {
  .steps {
    min-height: 80em;
  }
  .steps h2 {
    right: 1em;
    /* font-size: 4em; */
  }
  .steps .circle {
    font-size: .87em;
  }

.steps .circle .dot.dot1 hgroup {
  margin: -10em 0 0 -3em;
}


 .steps .circle .dot.dot2 hgroup {
    margin: -10em 0 0 3em;
  }

  .steps .circle .dot.dot3 hgroup {
    margin: -2em 0 0 8em;
  }
}

@media (max-width: 560px) {
  .steps h2 {
    font-size: 3.5em;

  }
  .steps .circle {
    font-size: .8em;
  }
}

@media (max-width: 480px) {
  .steps {
    min-height: 72em;
  }
  .steps .circle {
    transform: translate(-300px, -35%) rotate(var(--steps-rot, 0deg));
    font-size: .7em;
  }
  .steps .circle .dot hgroup p {
    margin: 2em 0 0 .5em;
  }
}
@media (max-width: 390px) {
  .steps .circle {
    font-size: .65em;
  }

}
@media (max-width: 350px) {
  .steps h2 {
    font-size: 3.2em;
  }
  .steps .circle {
    transform: translate(-250px, -35%) rotate(var(--steps-rot, 0deg));
    font-size: .63em;
  }

}
