.team {
  width: 100%;
  background-color: transparent;
  position: relative;
  padding: 0 0 20em 0;
  z-index: 10;
  margin: 0 auto;
  max-width: 1366px;

}


.team h2 {
  font-size: 5.5em;
  max-width: 2em;
  line-height: .8em;
  font-weight: 900;
  position: relative;
  z-index: 4;
  padding: 0 0 3em 2.5em;
  color: rgba(255, 241, 227, .5);
}

body[data-lang="ka"] .team h2 {
   line-height: 1em;

}
.team .reveal-on-scroll {
  opacity: 0;
  transform: translateX(var(--swim-x, 0em)) translateY(calc(1.2em + var(--team-parallax-y, 0em) + var(--swim-y, 0em))) rotate(var(--swim-r, 0deg));
  transition: opacity 0.7s var(--ease-io), transform 0.7s var(--ease-io);
}

.team .reveal-on-scroll.is-visible {
  opacity: 1;
  transform: translateX(var(--swim-x, 0em)) translateY(calc(var(--team-parallax-y, 0em) + var(--swim-y, 0em))) rotate(var(--swim-r, 0deg));
}

.team .contents.reveal-on-scroll {
  transition-delay: 0.1s;
}

.team .contents {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9em;
  height: 30em;
  perspective: 1200px;
  overflow: visible;
  width: calc(100% + 14em);
  margin: 0 auto 0 -5em;
  max-width: 100%;
  /* margin-left: -7em; */
  padding: 0;
  box-sizing: border-box;
}




/* teamMember behavior + animation (section-specific) */

.team .teamMember {
  position: absolute;
  left: 50%;
  top: 50%;
  transition:
    opacity 0.2s var(--ease-io),
    box-shadow 0.24s var(--ease-io),
    border-color 0.24s var(--ease-io);
  will-change: transform;
  opacity: 0.55;
  border-color: rgba(255, 241, 227, 0.2);
  transform: scale(0.86) translateZ(-40px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.team .teamMember::after {
  opacity: 0.85;
  transition: opacity 0.22s var(--ease-io);
}

.team .teamMember h6,
.team .teamMember h5,
.team .teamMember .socialLinks {
  opacity: 0;
  /* transform: translateY(0.4em); */
  transition: opacity 0.22s var(--ease-io), transform 0.22s var(--ease-io);
}


.team .teamMember .socialLinks a {
  transition: transform var(--dur-fast) var(--ease-io), background var(--dur-fast) var(--ease-io);
}



.team .teamMember.active {
  opacity: 1;
  transform: scale(1) translateZ(0);
  border-color: rgba(255, 241, 227, 0.75);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);

}

.team .teamMember.active h5,
.team .teamMember.active h6,
.team .teamMember.active .socialLinks {
  opacity: 1;
  /* transform: translateY(0); */
}

.team .teamMember.active::after {
  opacity: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.team .teamMember.active img {
  transform: scale(1);
}



.team .navArrows {
  margin: 3em 13em 0 auto;
  z-index: 5;
  display: flex;
  gap: 1em;
  max-width: fit-content;

}

.team .more {
  color: rgba(255, 241, 227, 1);
  padding: 1.2em 2em;
  border-radius: 5em;
  border: 1px solid rgba(255, 241, 227, .5);
  margin: 3em auto 0 20em;
  font-size: 1em;
  display: block;
  cursor: pointer;
   font-weight: 700;
 transition:
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.5s ease,
    border-radius 0.5s ease,
    border 0.5s ease,
    opacity 0.5s ease,
    color 0.5s ease;
}

.team .more:hover {
  opacity: 1;
  background: rgba(224, 77, 77, 1);
  transform: scale(1.05);
  border: 1px solid rgba(255, 241, 227, 0);

}

@media (max-width: 1366px) {
  .team {
    max-width: 100%;
    padding-bottom: 17em;
  }

  .team h2 {
    font-size: 5em;
    padding: 0 0 2.7em 2.1em;
  }

  .team .contents {
    height: 28em;
    width: calc(100% + 10em);
    margin-left: -3.8em;
  }

  .team .navArrows {
    margin: 2.8em 9em 0 auto;
  }

  .team .more {
    margin: 2.8em auto 0 14em;
  }
}

@media (max-width: 1024px) {
  .team {
    padding-bottom: 14em;
  }

  .team h2 {
    font-size: 4.4em;
    max-width: 2.2em;
    padding: 0 0 2.3em 1.6em;
  }

  .team .contents {
    height: 24.5em;
    width: calc(100% + 6em);
    margin-left: -2.3em;
  }

  .team .navArrows {
    margin: 2.4em 5em 0 auto;
    gap: 0.8em;
  }

  .team .more {
    margin: 2.4em auto 0 9em;
    padding: 1.1em 1.8em;
  }
}

@media (max-width: 850px) {
  .team {
    padding-bottom: 12.8em;
  }

  .team h2 {
    font-size: 4em;
    padding: 0 0 2em 1.2em;
  }

  .team .contents {
    height: 22.4em;
    width: calc(100% + 4.2em);
    margin-left: -1.6em;
  }

  .team .navArrows {
    margin: 2.2em 2.9em 0 auto;
  }

  .team .more {
    margin: 2.2em auto 0 5.2em;
    font-size: 0.95em;
  }
}

@media (max-width: 768px) {
  .team {
    padding-bottom: 11.5em;
  }

  .team h2 {
    font-size: 3.55em;
    max-width: 2.4em;
    padding: 0 0 1.7em 0.95em;
  }

  .team .contents {
    height: 20.8em;
    width: calc(100% + 2.8em);
    margin-left: -1.1em;
  }

  .team .navArrows {
    margin: 2em 1.7em 0 auto;
    gap: 0.65em;
  }

  .team .navArrows button:first-child {
    width: 3em;
    height: 3em;
  }

  .team .navArrows button:last-child {
    width: 3.5em;
    height: 3.5em;
  }

  .team .more {
    margin: 1.9em auto 0 2.2em;
    padding: 0.98em 1.55em;
    font-size: 0.9em;
  }
}

@media (max-width: 560px) {
  .team {
    padding-bottom: 10.2em;
  }

  .team h2 {
    font-size: 3.1em;
    max-width: 2.6em;
    padding: 0 0 1.45em 0.6em;
  }

  .team .contents {
    height: 18.8em;
    width: 100%;
    margin-left: 0;
  }

  .team .navArrows {
    margin: 1.8em 1.1em 0 auto;
  }

  .team .navArrows button:first-child {
    width: 2.7em;
    height: 2.7em;
  }

  .team .navArrows button:last-child {
    width: 3.1em;
    height: 3.1em;
  }

  .team .navArrows button img {
    width: 1.25em;
  }

  .team .more {
    margin: 1.7em auto 0 1em;
    padding: 0.9em 1.35em;
    font-size: 0.85em;
  }
}

@media (max-width: 480px) {
  .team h2 {
    font-size: 2.82em;
    padding-left: 0.45em;
  }

  .team .contents {
    height: 17.9em;
  }

  .team .navArrows {
    margin-right: 0.7em;
  }

  .team .more {
    margin-left: 0.7em;
  }
}

@media (max-width: 390px) {
  .team {
    padding-bottom: 9.5em;
  }

  .team h2 {
    font-size: 2.54em;
    padding-bottom: 1.35em;
  }

  .team .contents {
    height: 17.1em;
  }

  .team .navArrows {
    margin-top: 1.55em;
  }

  .team .more {
    padding: 0.82em 1.22em;
    font-size: 0.82em;
  }
}

@media (max-width: 320px) {
  .team h2 {
    font-size: 2.24em;
  }

  .team .contents {
    height: 16.2em;
  }
}
