.team {
  width: 100%;
  background-color: transparent;
  position: relative;
  padding: 0 0 20em 0;
  z-index: 10;
  margin: 0 auto;
}


.team h2 {
  font-size: 5.5em;
  max-width: 2em;
  line-height: .8em;
  font-weight: 900;
  position: relative;
  z-index: 4;
  padding: 0 0 3em 2em;
  color: rgba(255, 241, 227, .5);
}

body[data-lang="ka"] .team h2 {
   line-height: 1em;

}
.team .reveal-on-scroll {
  opacity: 0;
  transform: translateX(var(--swim-x, 0em)) translateY(calc(1.2em + var(--team-parallax-y, 0em) + var(--swim-y, 0em))) rotate(var(--swim-r, 0deg));
  transition: opacity 0.7s var(--ease-io), transform 0.7s var(--ease-io);
}

.team .reveal-on-scroll.is-visible {
  opacity: 1;
  transform: translateX(var(--swim-x, 0em)) translateY(calc(var(--team-parallax-y, 0em) + var(--swim-y, 0em))) rotate(var(--swim-r, 0deg));
}

.team .contents.reveal-on-scroll {
  transition-delay: 0.1s;
}

.team .contents {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9em;
  height: 30em;
  perspective: 1200px;
  overflow: visible;
  width: 100%;
  padding: 0 0.4em;
  box-sizing: border-box;
}




/* teamMember behavior + animation (section-specific) */

.team .teamMember {
  position: absolute;
  left: 50%;
  top: 50%;
  transition:
    opacity var(--dur-slow) var(--ease-soft),
    box-shadow var(--dur-med) var(--ease-io),
    border-color var(--dur-med) var(--ease-io);
  will-change: transform;
  opacity: 0.55;
  transform: scale(0.86) translateZ(-40px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.team .teamMember::after {
  opacity: 0.85;
  transition: opacity var(--dur-med) var(--ease-io);
}

.team .teamMember h6,
.team .teamMember h5,
.team .teamMember .socialLinks {
  opacity: 0;
  /* transform: translateY(0.4em); */
  transition: opacity var(--dur-med) var(--ease-io), transform var(--dur-med) var(--ease-io);
}


.team .teamMember .socialLinks a {
  transition: transform var(--dur-fast) var(--ease-io), background var(--dur-fast) var(--ease-io);
}



.team .teamMember.active {
  opacity: 1;
  transform: scale(1) translateZ(0);
  border-color: rgba(255, 241, 227, 0.75);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}

.team .teamMember.active h5,
.team .teamMember.active h6,
.team .teamMember.active .socialLinks {
  opacity: 1;
  /* transform: translateY(0); */
}

.team .teamMember.active::after {
  opacity: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.team .teamMember.active img {
  transform: scale(1);
}



.team .navArrows {
  position: absolute;
  right: 4em;
  z-index: 5;
  display: flex;
  gap: 1em;
  margin-top: 3em;
}

.team .more {
  border: 3px solid red;
  color: rgba(255, 241, 227, 1);
  padding: 1.2em 2em;
  border-radius: 5em;
  border: 1px solid rgba(255, 241, 227, .5);
  margin-top: 13em;
  margin-left: 3em;
  font-size: 1em;
  cursor: pointer;
   font-weight: 700;
 transition:
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.5s ease,
    border-radius 0.5s ease,
    border 0.5s ease,
    opacity 0.5s ease;
}

.team .more:hover {
  opacity: 1;
  background: rgba(224, 77, 77, 1);
  transform: scale(1.05);
  border: 1px solid rgba(255, 241, 227, 0);

}
