.testimonial {
  max-width: fit-content;
  margin: 0 auto;
  height: fit-content;
  padding: 10em 0 18em 0;
  /* background: var(--cream); */
  position: relative;
  z-index: 100;
}

.testimonial .title {
  padding-right: 30em;
  opacity: 0.6;
  transform: translateX(var(--swim-x, 0em)) translateY(calc(1.2em + var(--swim-y, 0em))) rotate(var(--swim-r, 0deg));
  transition: transform 0.75s var(--ease-io);


}
.testimonial .title img {
  height: 7em;
  margin-left: 10em;
  margin-bottom: 2em;
  transform-origin: center center;
}

body[data-lang="ka"] .testimonial .title img {
  margin-bottom: 3.5em;
}
.testimonial .title h3 {
  font-size: 5em;
  font-weight: 900;
  text-transform: capitalize;
  max-width: 2em;
  line-height: 1em;
  /* color: rgba(255, 241, 227, .5); */
  /* -webkit-text-stroke: 2px var(--cream); */
}

.testimonial.is-active .title {
  transform: translateX(var(--swim-x, 0em)) translateY(var(--swim-y, 0em)) rotate(var(--swim-r, 0deg));
}

.testimonial.is-active .title img {
  animation: none;
}

.testimonial.is-active.is-scrolling .title img {
  animation: quoteShake 1.8s cubic-bezier(0.2, 0, 0, 1) infinite;
}

@keyframes quoteShake {
  0%, 100% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(0.04em, -0.03em) rotate(-0.55deg); }
  45% { transform: translate(-0.032em, 0.024em) rotate(0.45deg); }
  70% { transform: translate(0.024em, -0.018em) rotate(-0.35deg); }
  85% { transform: translate(-0.016em, 0.012em) rotate(0.25deg); }
}

.testimonial .testimonialContent {
  width: fit-content;
  margin-left: auto;
  margin-top: 13em;
  max-height: 45em;
  /* border: 3px solid red; */
  /* overflow-y: hidden;
  overflow-x: visible; */
  position: relative;
  isolation: isolate;
}

.testimonial .testimonialContent::before {
  content: none;
}
.testimonial .testimonialContent::after {
  content: none;
}

.testimonial .testimonialContent .messages {
  height: 45em;
  min-height: 0;
  overflow: hidden;
  position: relative;
  will-change: transform;
  padding: 0 1.8em;
  box-sizing: border-box;
  -webkit-mask-image: linear-gradient(
  to bottom,
  transparent 0%,
  rgba(0, 0, 0, 0.9) 14%,
  rgba(0, 0, 0, 1) 30%,
  rgba(0, 0, 0, 1) 70%,
  rgba(0, 0, 0, 0.9) 86%,
  transparent 100%
  );
  mask-image: linear-gradient(
  to bottom,
  transparent 0%,
  rgba(0, 0, 0, 0.9) 14%,
  rgba(0, 0, 0, 1) 30%,
  rgba(0, 0, 0, 1) 70%,
  rgba(0, 0, 0, 0.9) 86%,
  transparent 100%
  );
}

.testimonial .testimonialContent .messages .messagesTrack {
  display: flex;
  flex-direction: column;
  gap: 4em;
  will-change: transform;

}
.testimonial .testimonialContent .messages p {
  font-size: 1.2em;
  max-width: 15em;
  /* min-height: 9em; */
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
  /* border: 1px solid red; */

  display: flex;
  align-items: center;
  line-height: 1.35em;
  opacity: 0.3;
  transform: scale(0.92);
  transform-origin: center center;
  transition: none;
  margin: 0;

}
.testimonial .testimonialContent .messages p.active {
  font-weight: inherit;
}

.testimonial .testimonialContent .messages p.is-pulse {
  animation: messagePeakPulse 0.38s ease-out;
}

@keyframes messagePeakPulse {
  0% {
    filter: drop-shadow(0 0 0 rgba(255, 241, 227, 0));
    text-shadow: 0 0 0 rgba(255, 241, 227, 0);
  }
  45% {
    filter: drop-shadow(0 0 1.2em rgba(255, 241, 227, 0.75));
    text-shadow: 0 0 0.9em rgba(255, 241, 227, 0.6);
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(255, 241, 227, 0));
    text-shadow: 0 0 0 rgba(255, 241, 227, 0);
  }
}
.testimonial .testimonialContent .focus {
  position: absolute;
  /* border: 10px solid red; */
  top: 0;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial .testimonialContent .focus h5 {
  position: relative;
  z-index: 1;
  transition: none;
}

.testimonial .testimonialContent .focus h5::before {
  content: '';
  position: absolute;
  inset: -0.35em -0.8em;
  z-index: -1;
  background: radial-gradient(65% 80% at 50% 50%, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.testimonial .testimonialContent .focus h5.is-pulse {
  animation: focusNamePulse 0.52s ease-out;
}

.testimonial .testimonialContent .focus.is-pulse {
  animation: focusFramePulse 0.52s ease-out;
}

.testimonial .testimonialContent .focus.is-pulse .focusCorner::before,
.testimonial .testimonialContent .focus.is-pulse .focusCorner::after {
  animation: focusCornerFlash 0.52s ease-out;
}

.testimonial .testimonialContent .focus::after {
  content: '';
  position: absolute;
  inset: -0.7em;
  border: 1px solid rgba(224, 77, 77, 0.45);
  border-radius: 0.2em;
  opacity: 0;
  pointer-events: none;
}

.testimonial .testimonialContent .focus.is-pulse::after {
  animation: focusRingPulse 0.52s ease-out;
}

@keyframes focusFramePulse {
  0% { transform: translate(-50%, -50%) scale(1); }
  45% { transform: translate(-50%, -50%) scale(0.988); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

@keyframes focusRingPulse {
  0% {
    opacity: 0;
    transform: scale(0.94);
  }
  40% {
    opacity: 0.85;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.08);
  }
}

@keyframes focusCornerFlash {
  0% {
    opacity: 1;
    filter: drop-shadow(0 0 0 rgba(224, 77, 77, 0));
    background: var(--red);
  }
  40% {
    opacity: 1;
    filter: drop-shadow(0 0 0.55em rgba(224, 77, 77, 0.9));
    background: rgba(255, 129, 129, 1);
  }
  100% {
    opacity: 1;
    filter: drop-shadow(0 0 0 rgba(224, 77, 77, 0));
    background: var(--red);
  }
}

@keyframes focusNamePulse {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
    text-shadow: 0 0 0 rgba(255, 241, 227, 0);
  }
  45% {
    opacity: 1;
    transform: translateY(0) scale(1.02);
    text-shadow: 0 0 0.65em rgba(255, 241, 227, 0.45);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    text-shadow: 0 0 0 rgba(255, 241, 227, 0);
  }
}



@media (max-width: 1024px) {
  .testimonial .title {
    font-size: .9em;
     margin-left: 5em;
     max-width: fit-content;
     width: fit-content;
     min-width: fit-content;
  }
  .testimonial .testimonialContent {
    margin-right: 5em;
  }
}

@media (max-width: 860px) {
  .testimonial {
    padding-bottom: 5em;
  }
}
@media (max-width: 768px) {
  .testimonial .title {
    font-size: .8em;
    margin-left: 3em;
    margin-bottom: 6em;
  }
  .testimonial .testimonialContent {
    margin: 0 auto;
  }
   .testimonial .testimonialContent .focus h5 {
    right: -70%;
    bottom: 5em;
    margin-right: 2em;
  }
}

@media (max-width: 560px) {
  .testimonial .title {
    font-size: .7em;
  }
  .testimonial .testimonialContent {
    font-size: .8em;
  }
}


@media (max-width: 480px) {
  .testimonial .testimonialContent .focus h5 {
    right: -50%;
    bottom: 5em;
    margin-right: 2em;
  }
  /* .testimonial {
    width: 100%;
  }
   .testimonial .testimonialContent {
    width: 100%;
   }
  .testimonial .testimonialContent .focus {
    width: 95%;
  } */
}

@media (max-width: 350px) {
   .testimonial {
    width: 100%;
  }

  .testimonial .title {
    font-size: .75em;
    margin-left: 3em;
  }

  .testimonial .testimonialContent .messages {
    width: 85%;
    width: fit-content;
    margin: 0 auto;
  }
   .testimonial .testimonialContent {
    width: 100%;
   }
  .testimonial .testimonialContent .focus {
    width: 90%;
  }
}
