.bannerTitle {
  max-width: 26em;
  position: relative;
  z-index: 2;
}

body[data-lang="ka"] .bannerTitle {
  max-width: 24em;
}

.bannerTitle h4 {
  font-size: 1.5em;
  padding-bottom: 2em;
  /* margin: 0 0 1em 0; */
  max-width: 12em;
  font-weight: 100;
  line-height: var(--lh-compact);
  letter-spacing: var(--tracking-wide);
  /* text-transform: uppercase; */
  opacity: 0.7;
}

body[data-lang="ka"] .bannerTitle h4 {
  opacity: .7;
}

.bannerTitle h1 {
  font-size: 8em;
  margin: 0 0 0 0.45em;
  font-weight: 900;
  white-space: wrap;
  line-height: 0.78em;
  letter-spacing: -0.03em;
   font-family: var(--font-en);
}
