.bannerTitle {
  max-width: 26em;
  position: relative;
  z-index: 2;
}

body[data-lang="ka"] .bannerTitle {
  max-width: 24em;
}

.bannerTitle h4 {
  font-size: 1.5em;
  padding-bottom: 2em;
  /* margin: 0 0 1em 0; */
  max-width: 12em;
  font-weight: 100;
  line-height: var(--lh-compact);
  letter-spacing: var(--tracking-wide);
  /* text-transform: uppercase; */
  opacity: 0.7;
}

body[data-lang="ka"] .bannerTitle h4 {
  opacity: .5 !important;
  font-size: 1.3em;
  max-width: 14em;
}

.bannerTitle h1 {
  font-size: 8em;
  margin: 0 0 0 0.45em;
  font-weight: 900;
  white-space: wrap;
  line-height: 0.78em;
  letter-spacing: -0.03em;
   font-family: var(--font-en);
}

@media (min-width: 1920px) {
  .bannerTitle h4 {
    font-size: 1.7em;
    max-width: 12.5em;
  }

  .bannerTitle h1 {
    font-size: 8.7em;
  }
}

@media (max-width: 1366px) {
  .bannerTitle h4 {
    font-size: 1.3em;
    padding-bottom: 1.5em;
  }

  .bannerTitle h1 {
    font-size: 6.7em;
    margin-left: 0.5em;
  }
}

@media (max-width: 1024px) {
  .bannerTitle h4 {
    font-size: 1.25em;
    padding-bottom: 1.2em;
  }

  .bannerTitle h1 {
    font-size: 6em;
    margin-left: 0.2em;
  }
}

@media (max-width: 768px) {
  .bannerTitle {
    max-width: 19em;
  }

  .bannerTitle h4 {
    font-size: 1em;
    max-width: 16em;
    padding-bottom: 1em;
  }

  .bannerTitle h1 {
    font-size: 4em;
    margin-left: 0;
    line-height: 0.86em;
  }
}
