.chatButton {
  margin-top: 100px;
  font-family: var(--font-en);
  font-weight: 500;
  font-size: 1em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .6em 2em;
  background: rgba(255, 241, 227, .2);
  border-radius: 3em;
  color: var(--cream);
  border: none;
  backdrop-filter: blur(10px);
  position: fixed;
  /* border: 1px solid var(--grey); */

}


