.chatButton {
  font-family: var(--font-en);
  font-weight: 500;
  width: 3.6em;
  height: 3.6em;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 241, 227, .2);
  border-radius: 100%;
  color: var(--cream);
  border: none;
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 1.2em;
  right: 1.2em;
}
.chatButton span {
  display: block;
  margin: auto;
  text-transform: uppercase;
  font-size: .9em;
}

