.chatButton {
  font-family: var(--font-en);
  font-weight: 500;
  font-size: .9em;
  width: 3.8em;
  height: 3.8em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background: rgba(255, 241, 227, .2);
  border-radius: 100%;
  color: var(--cream);
  border: none;
  backdrop-filter: blur(10px);
  position: fixed;
}


