.circle {
  width: 42em;
  height: 42em;
  border: .5px solid var(--cream);
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 100%;
  transform: translate(-200px, -40%);
}

.circle .dot {
  width: 1.2em;
  height: 1.2em;
  background: var(--cream);
  position: absolute;
  border-radius: 100%;
}

.circle .dot hgroup {
  color: var(--cream);
}

.circle .dot hgroup h3 {
  margin: 0;
  font-size: 5em;
  font-weight: 900;
   /* -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: transparent;  */
}

body[data-lang="ka"] .circle .dot hgroup h3 {
  font-family: var(--font-en);
}
body[data-lang="ka"] .circle .dot hgroup p {
  min-width: 12em;

}

.circle .dot hgroup p {
  padding: 0;
  font-size: 1.5em;
  margin: 2em 0 0 3em;
  letter-spacing: -0.03em;
  min-width: 10em;
  line-height: 1.1em;
  font-weight: 300;
}

.circle .dot.dot1 {
  right: 7em;
  top: 4em;
}

.circle .dot.dot1 hgroup {
  margin: -10em 0 0 5em;
}



.circle .dot.dot2 {
  right: -0.5em;
  top: 22em;
}

.circle .dot.dot2 hgroup {
   margin: -10em 0 0 5em;

}

.circle .dot.dot3 {
  right: 10em;
  bottom: 2.2em;
}
.circle .dot.dot3 hgroup {
   margin: -5em 0 0 12em;
}

@media (max-width: 1200px) {
  .circle {
    width: 36em;
    height: 36em;
  }

  .circle .dot hgroup h3 {
    font-size: 4.2em;
  }

  .circle .dot hgroup p {
    font-size: 1.28em;
    margin-left: 2.3em;
  }
}

@media (max-width: 768px) {
  .circle {
    width: 30em;
    height: 30em;
  }

  .circle .dot {
    width: 1em;
    height: 1em;
  }

  .circle .dot hgroup h3 {
    font-size: 3.2em;
  }

  .circle .dot hgroup p {
    font-size: 1.02em;
    min-width: 9em;
    margin: 1.6em 0 0 2em;
  }

  .circle .dot.dot1 {
    right: 6.5em;
    top: 3.8em;
  }

  .circle .dot.dot2 {
    right: -0.35em;
    top: 16.8em;
  }

  .circle .dot.dot3 {
    right: 8.4em;
    bottom: 1.7em;
  }

  .circle .dot.dot1 hgroup {
    margin: -8em 0 0 4.2em;
  }

  .circle .dot.dot2 hgroup {
    margin: -8em 0 0 4.2em;
  }

  .circle .dot.dot3 hgroup {
    margin: -4em 0 0 8.4em;
  }
}
