.corner {
  width: 1.5em;
  height: 1.5em;
}

.corner::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: var(--grey);
    border-radius: 5px;
  }

  .corner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: var(--grey);
  }

  .corner2 {
    transform: rotate(180deg);
  }
