.focus {
  width: 25em;
  height: 15em;
  position: relative;
}

.focusCorner {
  width: 1.25em;
  height: 1.25em;
  position: absolute;
}

.focusCorner::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: var(--red);
  border-radius: 5px;
}

.focusCorner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: var(--red);
}

.focusCorner.one {
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

.focusCorner.two {
  top: 0;
  right: 0;
  transform: rotate(180deg);

}

.focusCorner.three {
  bottom: 0;
  left: 0;

}

.focusCorner.four {
  bottom: 0;
  right: 0;
  transform: rotate(-90deg);
}

.focus h5 {
  text-transform: capitalize;
  font-size: 2em;
  position: absolute;
  bottom: 4.5em;
  right: 5em;
  font-weight: 900;
  max-width: 1.7em;
  line-height: 1.1em;
}

