form {
  display: flex;
  flex-flow: column;
  max-width: fit-content;
  max-height: fit-content;
  position: relative;
  gap: 1em;
}

legend {
  font-size: 1.2em;
  color: rgba(255, 241, 227, .7);
  margin-bottom: .5em;
  font-weight: 300;
  margin: 0 0 2em .5em;
}

input{
  border: none;
  border: 1px solid rgba(255, 241, 227, .1);
  margin: .5em 0;
  font-size: 1em;
  border-radius: 2em;
  /* backdrop-filter: blur(20px); */
  padding: 1em 1.5em;
  color: var(--cream);
  margin: 0;
  background: transparent;
}
input::placeholder {
  color: rgba(255, 241, 227, .3);
}

input.name {
  min-width: 15em;
  max-width: 15em;
}

input.mail {
  min-width: 19em;
  max-width: 19em;
}

textarea {
  min-width: 28em;
  max-width: 28em;
  padding: 1.2em 1.5em;
  border: none;
  background: transparent;
  border: 1px solid rgba(255, 241, 227, .1);
  border-radius: 2em;
  resize: none;
  /* backdrop-filter: blur(20px); */
  color: var(--cream);
}
textarea::placeholder {
  color: rgba(255, 241, 227, .3);
}

input:focus,
textarea:focus {
  outline: none;
}


form button {
  width: fit-content;
  /* width: 3.2em;
  height: 3.2em; */
  padding: .75em 1.5em;
  border: none;
  background: rgba(224, 77, 77, .75);
  color: #fff;
  font-size: 1.1em;
  border-radius: 3em;
  /* text-transform: uppercase; */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: .75em;
  right: .75em;
  transition: background 0.5s ease, transform 0.5s ease;
}

form button:hover {
  background: rgba(224, 77, 77, 1);
  transform: scale(1.05);
}

form button:focus {
  outline: none;
}

form button img {
  height: 1.1200px;
  display: block;
  margin-top: .25em;
}
