@keyframes rotateGlobe {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(180deg) scale(1.2); }
  100% { transform: rotate(360deg) scale(1); }
}

.globe {
  width: 60em;
  height: 60em;
  display: block;
  z-index: 1;
  object-fit: cover;
  position: fixed;
  bottom: -10em;
  right: -10em;
  animation: rotateGlobe 60s linear infinite, scaleGlobe 20s ease-in-out infinite alternate;
  transform-origin: center center;
  filter:
    drop-shadow(0 35px 45px rgba(0, 0, 0, 0.55))
    drop-shadow(0 0 70px rgba(0, 0, 0, 0.45));
}
