.globe {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.globe::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.globe::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 3;
  pointer-events: none;
}
.globe .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(224, 77, 77, .1);
  z-index: 4;
  pointer-events: none;

}
.globe img {
  width: 60em;
  height: 60em;
  object-fit: cover;
  position: absolute;
  bottom: -10em;
  right: -10em;
}