@keyframes rotateGlobe {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(180deg) scale(1.05); }
  100% { transform: rotate(360deg) scale(1); }
}

.globe {
  width: 60em;
  height: 60em;
  display: block;
  z-index: 1;
  object-fit: cover;
  position: fixed;
  bottom: -10em;
  right: -5em;
  animation: rotateGlobe 120s linear infinite, scaleGlobe 20s ease-in-out infinite alternate;
  transform-origin: center center;
  transform-style: preserve-3d;
  filter:
    drop-shadow(0 35px 45px rgba(0, 0, 0, 0.55))
    drop-shadow(0 0 70px rgba(0, 0, 0, 0.45));
}



@media (max-width: 1366px) {
  .globe {
    object-fit: contain;
    width: 50em;
    height: 50em;
  }
}

@media (max-width: 768px) {
  .globe {
    object-fit: contain;
  }
}

/*
@media (max-width: 1366px) {
  .globe {
    width: 50em;
    height: 50em;
  }
}
@media (max-width: 1366px) and (min-height: 900px) {
  .globe {
    width: 60em;
    height: 60em;
  }
}

@media (max-width: 768px) {
  .globe {
    width: 50em;
    height: 50em;
     object-fit: contain;
  }

} */

.globe2 {
  width: 100%;
  height: 100%;
   display: block;
  object-fit: contain;
  position: fixed;
  z-index: 2;
  opacity: .35;
  bottom: -15em;
  display: none;
  right: -5em;
  transform: rotate(45deg);
  /* animation: rotateGlobe 120s linear infinite, scaleGlobe 20s ease-in-out infinite alternate;
  transform-origin: center center;
  transform-style: preserve-3d; */
}
