@keyframes rotateGlobe {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(180deg) scale(1.05); }
  100% { transform: rotate(360deg) scale(1); }
}

.globe {
  width: 60em;
  height: 60em;
  display: block;
  z-index: 1;
  object-fit: cover;
  position: fixed;
  bottom: -10em;
  right: -5em;
  animation: rotateGlobe 120s linear infinite, scaleGlobe 20s ease-in-out infinite alternate;
  transform-origin: center center;
  transform-style: preserve-3d;
  filter:
    drop-shadow(0 35px 45px rgba(0, 0, 0, 0.55))
    drop-shadow(0 0 70px rgba(0, 0, 0, 0.45));
}

.globe2 {
  width: 100%;
  height: 100%;
   display: block;
  object-fit: cover;
  position: fixed;
  z-index: 2;
  opacity: .35;
  bottom: -15em;
  display: none;
  right: -5em;
  transform: rotate(45deg);
  /* animation: rotateGlobe 120s linear infinite, scaleGlobe 20s ease-in-out infinite alternate;
  transform-origin: center center;
  transform-style: preserve-3d; */
}

@media (max-width: 1366px) {
  .globe {
    width: 52em;
    height: 52em;
    right: -7em;
    bottom: -8em;
  }
}

@media (max-width: 1024px) {
  .globe {
    width: 768px;
    height: 768px;
    right: -8em;
    bottom: -8em;
  }
}

@media (max-width: 768px) {
  .globe {
    width: 34em;
    height: 34em;
    right: -9em;
    bottom: -5em;
    opacity: 0.85;
  }
}
