.langButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.02em;
  max-width: fit-content;
}

.langButton button {
  background: transparent;
  /* padding: 0 !important; */
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--cream);
  width: 2.8em;
  height: 2.8em;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  transform: rotate(90deg);
  padding: 0;
  transition:
    opacity 0.3s ease,             /* fade in/out */
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* smooth scale */

}

.langButton button:hover {
  opacity:1;
}

.langButton button.active {
  opacity: 1;
  pointer-events: none;

}

.langButton button:first-child {
  font-family: 'BPG Square Banner Caps 2013', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}

.langButton button.active:first-child {
  transform: rotate(90deg) scale(1.15);
}
.langButton button.active:last-child {
  transform: rotate(90deg) scale(1.15);
}


.langButton button:last-child {
  font-family: var(--font-en);
  font-weight: 600;
  font-size: .9em;
}
