.navArrows {
  z-index: 100;
  display: flex;
  gap: 0em;
}

.navArrows button {
  background: rgba(224, 77, 77, 0.95);
  box-shadow: 0 10px 20px rgba(224, 77, 77, 0.35);
  transition: transform 1s ease;
  z-index: 100;
  backdrop-filter: blur(20px);
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.navArrows button:first-child {
  width: 3.6em;
  height: 3.6em;
}
.navArrows button:last-child {
  width: 4.2em;
  height: 4.2em;
}

.navArrows button:first-child img {
  transform: rotate(180deg);
}

.navArrows button:first-child:hover {
  transform: scale(1.05) translateX(0.25em);
}
.navArrows button:first-child:hover img {
  transform: scale(1.05) translateX(-0.25em) rotate(180deg);
}
.navArrows button:last-child:hover {
  transform: scale(1.05) translateX(-0.25em);
}
.navArrows button:last-child:hover img {
  transform: scale(1.05) translateX(0.25em);
}

.navArrows button img {
  width: 1.5em;
  transition: transform var(--dur-med) var(--ease-io);
}

