.navBar {
  display: flex;
  flex-flow: column;
  gap: .5em;

}

body[data-lang="ka"] .navBar {
  gap: .9em;

}

.navBar a {
  text-decoration: none;
   font-size: 1.1em;
   line-height: .8em;
  color: var(--cream);
  cursor: pointer;
  font-weight: 400;
  padding: .3em 1em;
  opacity: 0.5;
  border-radius: 3em;
  background: rgba(224, 77, 77, 0);
  /* transition:
    transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    padding 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    background 0.3s ease,
    font-weight 0.3s ease,
    border-radius 0.3s ease,
    opacity 0.3s ease; */

    transition:
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.25s ease,
    font-weight 0.25s ease,
    border-radius 0.25s ease,
    opacity 0.25s ease;
}

body[data-lang="ka"] .navBar a {
  font-family: 'BPG Square Banner Caps 2013', sans-serif;
  text-transform: uppercase;
  font-size: .95em;
}

.navBar a:hover {
  text-transform: capitalize;
  opacity: 1;
  background: rgba(224, 77, 77, 1);
  font-weight: 900;
  padding: 1em 1.3em;
  transform: scale(1.2);
  /* font-size: 1.2em; */
}

