.teamMember {
  min-width: 20em;
  max-width: 20em;
  height: 25em;
  border: 1px solid rgba(255, 241, 227, .5);
  position: relative;
  border-radius: 2em;
  overflow: hidden;
}

.teamMember::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
  pointer-events: none;
}

.teamMember h6 {
  font-size: 1em;
  padding: 0 0 0 1.35em;
  font-weight: 400;
  max-width: fit-content;
  color: rgba(255, 241, 227, .7);
  position: absolute;
  z-index: 3;
  top: 1em;
  text-transform: uppercase;
}

body[data-lang="ka"] .teamMember h6 {
  font-family: 'BPG Square Banner Caps 2013', sans-serif;
  padding: 0.25em 0 0 1.35em;
}

.teamMember h5 {
  font-size: 2.2em;
  max-width: 2em;
  line-height: 1em;
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 3;
  font-weight: 900;
}

.teamMember img {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 90%;
   object-fit: cover;
   z-index: 1;
   transform: scale(.9);
   transition:
    transform var(--dur-slow) var(--ease-soft);
}

.teamMember .socialLinks {
  position: absolute;
  z-index: 3;
  top: 1.2em;
  right: 1.5em;
}

@media (max-width: 1366px) {
  .teamMember {
    min-width: 18.9em;
    max-width: 18.9em;
    height: 23.6em;
    border-radius: 1.85em;
  }
}

@media (max-width: 1024px) {
  .teamMember {
    border-radius: 1.7em;
  }

  .teamMember h6 {
    top: 0.92em;
    padding-left: 1.2em;
  }

  body[data-lang="ka"] .teamMember h6 {
    padding-left: 1.2em;
  }

  .teamMember h5 {
    left: 0.85em;
    bottom: 0.85em;
  }

  .teamMember .socialLinks {
    top: 1em;
    right: 1.2em;
  }
}

@media (max-width: 768px) {
  .teamMember {
    border-radius: 1.5em;
  }

  .teamMember h6 {
    top: 0.8em;
    padding-left: 1em;
  }

  body[data-lang="ka"] .teamMember h6 {
    padding-left: 1em;
  }

  .teamMember h5 {
    left: 0.72em;
    bottom: 0.72em;
  }

  .teamMember img {
    height: 88%;
  }

  .teamMember .socialLinks {
    top: 0.85em;
    right: 1em;
  }

  .teamMember .socialLinks a {
    min-width: 1.75em;
    max-width: 1.75em;
    min-height: 1.75em;
    max-height: 1.75em;
  }
}

@media (max-width: 560px) {
  .teamMember {
    border-radius: 1.35em;
  }

  .teamMember h6 {
    padding-left: 0.85em;
  }

  body[data-lang="ka"] .teamMember h6 {
    padding-left: 0.85em;
  }

  .teamMember h5 {
    left: 0.62em;
    bottom: 0.62em;
  }

  .teamMember .socialLinks {
    top: 0.72em;
    right: 0.82em;
  }

  .teamMember .socialLinks a {
    min-width: 1.6em;
    max-width: 1.6em;
    min-height: 1.6em;
    max-height: 1.6em;
  }
}

@media (max-width: 350px) {
  .teamMember {
    min-width: 90vw;
    max-width: 90vw;
    height: calc(90vw * 1.22);
    border-radius: 1.25em;
  }

  .teamMember h6 {
    font-size: 0.78em;
    top: 0.72em;
    padding-left: 0.8em;
  }

  body[data-lang="ka"] .teamMember h6 {
    padding-left: 0.8em;
  }

  .teamMember h5 {
    font-size: 1.46em;
    left: 0.58em;
    bottom: 0.58em;
  }

  .teamMember img {
    height: 86%;
  }

  .teamMember .socialLinks {
    top: 0.68em;
    right: 0.74em;
  }

  .teamMember .socialLinks a {
    min-width: 1.45em;
    max-width: 1.45em;
    min-height: 1.45em;
    max-height: 1.45em;
  }
}
