.teamMember {
  min-width: 20em;
  max-width: 20em;
  height: 25em;
  border: 1px solid rgba(255, 241, 227, .5);
  position: relative;
  border-radius: 2em;
  overflow: hidden;
}

.teamMember::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
  pointer-events: none;
}

.teamMember h6 {
  font-size: 1em;
  padding: 0 0 0 1.35em;
  font-weight: 400;
  max-width: fit-content;
  color: rgba(255, 241, 227, .7);
  position: absolute;
  z-index: 3;
  top: 1em;
  text-transform: uppercase;
}

@media (max-width: 1366px) {
  .teamMember h6 {
     font-size: .9em;
  }

}
body[data-lang="ka"] .teamMember h6 {
  font-family: 'BPG Square Banner Caps 2013', sans-serif;
  padding: 0.25em 0 0 1.35em;
}

.teamMember h5 {
  font-size: 2.2em;
  max-width: 2em;
  line-height: 1em;
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 3;
  font-weight: 900;
}

.teamMember img {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 90%;
   object-fit: cover;
   z-index: 1;
   transform: scale(.9);
   transition:
    transform var(--dur-slow) var(--ease-soft);
}

.teamMember .socialLinks {
  position: absolute;
  z-index: 3;
  top: 1.2em;
  right: 1.5em;
}

@media (max-width: 1200px) {
  .teamMember {
    min-width: 16.8em;
    max-width: 16.8em;
    height: 22em;
  }

  .teamMember h5 {
    font-size: 1.9em;
  }
}

@media (max-width: 768px) {
  .teamMember {
    min-width: 12.5em;
    max-width: 12.5em;
    height: 17.8em;
    border-radius: 1.3em;
  }

  .teamMember h6 {
    font-size: 0.78em;
    top: 0.9em;
    left: 0.2em;
  }

  .teamMember h5 {
    font-size: 1.35em;
    left: 0.7em;
    bottom: 0.7em;
  }

  .teamMember .socialLinks {
    top: 0.7em;
    right: 0.7em;
  }
}
